.MainBodyProductPage2Container{
    width: 100%;
    height:500px;
    margin-bottom:10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    display: flex;
  flex-direction: row;
}

.subMainBodyProductPage2Container1{
    width:60%;
    height:100%;
    border:2px solid orange;
   
}
.subMainBodyProductPage2Container2{
    width:40%;
    height:100%;
    border:2px solid green;
    

   
}
.SpecificationContent{
    border:1px solid gray;
    color:black;
    height:35%;
    display: grid;
    grid-template-columns: auto auto;
    width:100%;
    
}
.SpecificationsWord{
    color:black;
    font-weight: 500;
    border:1px solid orange;
    height:5%;
    margin-bottom:11px;
}

.ProductDetails{
   height:100%;
    
    
}
.ProductDescritpion{
    padding-top: 10px;
    border:1px solid blue;
    padding-bottom: 10px;
    color:darkgray;
    height:50%;
    margin-top:11px;

}
.Detailsword{
   
    border:1px solid yellow;
    
}
