.WishlistContainer {
  height: 60px;
  width: 45px;
  margin-left: 37px;
  
  
}
.WishlistContainer2{
  height:40px;
  width:45px;
  padding-top:10px;
  padding-bottom: 10px;
  
}
.WishlistImage{
  max-width: 40px;
  max-height: 45px;
}
