.ProfileContainer {
  height: 60px;
  width: 45px;

  margin-left: 37px;
}
.ProfileContainer2{
  height:40px;
  width:45px;
  padding-top:10px;
  padding-bottom: 10px;
}
.ProfileContainerImage{
  max-width: 30px;
  max-height: 35px;
  padding-top:6px;
}
