.NewArrivalsContainer {
  height: 38px;
  width: 20%;
  border: solid 2px black;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  align-content: center;
  line-height: 5px;
  padding-top:3px;
}

