.MainBodyProductPageContainerInner{
    width: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
 
height:100%;
}
.MainBodyProductPageContainer{
  width: 85%;
/* position: relative; */

margin-top: 7%;
margin-bottom: 7%;
margin-left:7%;


}

