.FooterContainer {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgb(204, 204, 204) 0px 2px 5px;
  background-color: rgb(52, 53, 55);
  color: white;
  font-weight: 700;
}

.FooterContainerInner{
  height:100px
}